.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

#editor {
    display: none;
}

#editor.active {
    display: block;
}

#noteContent {
    width: 100%;
    height: 400px;
}